html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    overflow-y: scroll;
    overflow-x: hidden;
}

::selection {
    background: #BE0426;
    color: #F2F2F2;
}

html,
body {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
    top: 0;
    position: fixed;

    z-index: 10;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.logo {
    background-image: url("./Assets/Logo_base_white.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 10rem;
    height: 3rem;
    display: block;
}

.icon {
    width: 0.65rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    margin: 2rem 0.7rem;
}

#icon_01 {
    background-image: url("./Assets/Icons/Instagram_black.svg");
}

#icon_02 {
    background-image: url("./Assets/Icons/Linkedin_black.svg");
}

#icon_03 {
    background-image: url("./Assets/Icons/Twitter_black.svg");
}

#icon_04 {
    background-image: url("./Assets/Icons/Mail_black.svg");
}

#icon_05 {
    background-image: url("./Assets/Formation/Qualiopi_certification.png");
}

#icon_06 {
    background-image: url("./Assets/Formation/Qualiopi_certification.png");
}

.photo_citation {
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.thomas {
    background-image: url("./Assets/Home/Thomas.png");
}

.stephane {
    background-image: url("./Assets/Home/Stephane.png");
}

footer .logo {
    background-image: url("./Assets/Logo_vertical_sansStudio.png");
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: contain;
}

/*margins*/
.margin {
    width: 75vw;
}

/*Flex*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    color: black;
}

.white {
    color: #F2F2F2;
}

.blue {
    color: #A9B2E7;
}

.background_pattern {
    background-image: url("./Assets/Pattern_background.png");
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.drop_shadow {
    box-shadow: 0px 0px 20px #0000003e;
}

.banner_background {
    background-repeat: no-repeat;
}

.banner_background_formation {
    background-image: url("./Assets/Formation/Notebook_background.png");
    background-position: bottom;
    background-size: contain;
    height: 100%;
}

.banner_background_africa {
    background-image: url("./Assets/Africa/Africa_phones_background.png");
    background-position: 50vw -5rem;
    background-size: 50rem;

    position: absolute;
    width: 120%;
    height: 120%;

    z-index: 0;
}

.article_home {
    margin-bottom: 15rem;
}

.gradient {
    background: rgb(177, 166, 216);
    background: linear-gradient(0deg, rgba(177, 166, 216, 1) 0%, rgba(166, 182, 215, 1) 100%);
}

/*Burger Menu ------------------------------------------------------------------------*/
li {
    list-style: none;
}

.btn {
    cursor: pointer;
    transition: 0.2s;
}

.btn_white {
    cursor: pointer;
    transition: 0.2s;
    background-color: #F2F2F2;
}

.btn_header {
    padding: 0.5rem 1.7rem;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

#icons {
    cursor: pointer;
    display: none;
}

.bg_header {
    background-color: #F2F2F2;
    padding: 0.7rem 1.5rem;
    border-radius: 10rem;
}

/*FIN Burger Menu -----------------------------------------------------------------*/

.btn_base {
    padding: 0.5rem 1rem;

    border-radius: 2rem;
    border-width: 0.2rem;
    border-style: solid;

    align-items: center;
}

.btn_base:hover {
    background-color: #F2F2F2;
    color: #A6B6D7;
    border-color: #f2f2f2;
    scale: 1.1;
}

.btn_neomorph {
    padding: 0.75rem 1.25rem;
    box-shadow: 15px 13px 44px #d5494921, -12px -12px 44px #ccf4ff54;
    /*box-shadow:   24px 24px 20px #e3e3e3, -24px -24px 20px #ffffff;*/
}

.btn_neomorph:active {
    box-shadow: inset 0px 1px 11px #d5494921, inset -4px -3px 5px #ccf4ff54;
}

.btn_neomorph:hover {
    box-shadow: 15px 13px 44px #ccf4ff54, -12px -12px 44px #d5494921;
    scale: 1.01;
}

.w50-60-100 {
    width: 50%;
}

.home {
    margin-top: 15vmax;
    margin-bottom: 10vmax;
}

#c {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.row_column {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title_design {
    align-items: flex-start;
}

/*Drag Slideshow -----------------------------------------------------------------*/
.citation {
    text-align: center;
    width: 50%;
}

.swiper {
    width: 100%;
    background-color: #F2F2F2;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide {
    width: 100vw;
}

.swiper-slide img {
    width: 4rem;
}

.swiper-slide section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

/*FIN Drag Slideshow -----------------------------------------------------------------*/

/*Services (Pedagogie + jeu mobile) cases -----------------------------------------------------------------*/
.service_case {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;

    background-color: #F2F2F2;
    margin-top: 3rem;
    padding: 3rem 2rem 5rem 2rem;
}

.service_case_02 {
    justify-content: flex-end;
    margin-top: 5rem;
}

.half_desktop {
    width: 50%;
}

.service_text {
    width: 40%;
    padding-left: 2rem;
}

.service_image {
    background-repeat: no-repeat;
    background-position: left;
    width: 50%;
    height: 100%;

    position: absolute;
    top: 0;
}

.service_image_01 {
    background-image: url("./Assets/Home/Formation.png");
    background-size: cover;
    right: 0;
}

.service_image_02 {
    background-image: url("./Assets/Home/Ambition.jpg");
    background-size: cover;
    left: 0;
}

/*FIN Services (Pedagogie + jeu mobile) cases -----------------------------------------------------------------*/

/*FORMATION -----------------------------------------------------------------*/
.formation_case {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;

    margin-top: 2rem;
    padding: 3rem 2rem 5rem 2rem;
}

.formation_text {
    width: 40%;
    padding-left: 2rem;
}

.formation_image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*FIN FORMATION -----------------------------------------------------------------*/

/*Projets cases -----------------------------------------------------------------*/
.tag {
    background: #BE0426;
    color: #F2F2F2;
    padding: 0.5rem 0.5rem;
    border-radius: 5rem;
}

.wrapper {
    display: grid;
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3rem;

    background-color: #F2F2F2;
}

.case {
    background-color: #F8F8F0;
    padding: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    height: 20rem;
    text-decoration: none;

    -webkit-box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
    -moz-box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
    box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.case-one {
    background-image: url("./Assets/Africa/CoupeTouilleMiniature.png");
}

.case-two {
    background-image: url("./Assets/Africa/TeteCreuxMiniature.png");
}


.case>div {
    display: flex;
    justify-content: space-between;
    color: #17222B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/*FINProjets cases -----------------------------------------------------------------*/

.phone_column {
    flex-direction: row;
}

.line {
    margin: 0;
}

.w70-70-100 {
    width: 70%;
}

.information_case {
    width: calc(100vw/3);
    min-height: calc(100vw/3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    text-align: center;
}

.information_section {
    flex-direction: row;
}

.character {
    background-repeat: no-repeat;
    background-size: cover;
    width: 13rem;
    height: 20rem
}

.post_name {
    font-size: 0.7rem;
    font-weight: 300;
}

.character_adrien {
    background-image: url('./Assets/Team/Avatars/AdrienPose.png');
    filter: brightness(120%);
}

.adrien_background {
    background-color: #F2F2F2;
    background-image: url('./Assets/Team/Avatars/AdrienPoseBack.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25vw;
}

.character_mike {
    background-image: url('./Assets/Team/Avatars/MikePose.png');
    filter: brightness(120%);
}

.mike_background {
    background-color: #F2F2F2;
    background-image: url('./Assets/Team/Avatars/MikePoseBack.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25vw;
}

.character_isaac {
    background-image: url('./Assets/Team/Avatars/IsaacPose.png');
    filter: brightness(120%);
}

.isaac_background {
    background-color: #F2F2F2;
    background-image: url('./Assets/Team/Avatars/IsaacPoseBack.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25vw;
}

.character_steeve {
    background-image: url('./Assets/Team/Avatars/SteevePose.png');
    filter: brightness(120%);
}

.steeve_background {
    background-color: #F2F2F2;
    background-image: url('./Assets/Team/Avatars/SteevePoseBack.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25vw;
}

/* ------------------- TABLET + PHONE ------------------- */
@media (max-width: 1023px) {

    body section article {
        display: flex;
        align-items: center;
    }

    .icon_design_container {
        margin-top: 2rem;
        padding: 1.25rem 0;
        flex-direction: column;
    }

    .icon_design_container p {
        height: 100%;
        width: 15rem;
        text-align: center;
    }

    .row_column {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .title_design {
        align-items: center;
    }

    /*Menu burger -------------------------------------------------------------------------*/
    .btn_header {
        padding: 1rem 2rem 1rem 1rem;
        margin: 1.5rem 1rem;
        margin-right: 10vw;
        color: rgb(0, 0, 0);

        align-items: center;
        background-color: #F2F2F2;

        padding: 0.75rem 1.25rem;
        box-shadow: 15px 13px 44px #d5494921, -12px -12px 44px #ccf4ff54;
    }

    .btn_header:hover {
        padding: 0.8rem 1.2rem;
    }

    .logo {
        background-image: url("./Assets/Logo_square.png");
        width: 2.6rem;
        height: 2.6rem;
    }

    footer .footer_info {
        flex-direction: column;
    }

    footer .logo {
        margin: 0 auto;
    }

    footer section {
        padding-top: 2rem;
    }


    #icons {
        display: block;
        margin: auto 0;
        scale: 2;
        height: 100%;
    }

    #icons:before {
        content: "\2630";
    }

    .active #icons:before {
        content: "\2716";
    }

    header nav {
        position: absolute;
        right: 0;
        top: 100%;
        flex-direction: column;
        align-items: flex-end;
        transition: 0.25s;
        display: none;
    }

    header.active nav li {
        margin-top: 0.75rem;
        margin-left: 0rem;
        width: 100%;
    }

    header.active .btn_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    header.active .fond_menu {
        display: block;
        background-color: #F2F2F2;
        box-shadow: 0px 0px 11px 8px #00000021;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: -1;
    }

    header.active .fond_menu {
        width: 15rem;
    }

    .bg_header {
        background-color: #F2F2F2;
        border-radius: 0;

        padding: 0;
    }

    header {
        margin-top: 1.5rem;
    }

    header.active nav {
        display: flex;
        padding: 4rem 2rem;
    }

    /*Menu burger FIN---------------------------------------------------------------------*/
}

/* ------------------- TABLET ------------------- */
@media (min-width: 650px) and (max-width: 1023px) {

    .w50-60-100 {
        width: calc(55% + 3rem);
    }

    .logo {
        background-image: url("./Assets/Logo_square.png");
        width: 2.6rem;
        height: 2.6rem;
    }

    /*Projets cases -----------------------------------------------------------------------*/
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .case {
        height: 15rem;
        filter: none;
    }

    /*FIN Projets cases -----------------------------------------------------------------------*/

    .banner_background_africa {
        background-position: 40vw 5rem;
        background-size: 40rem;
        width: 120%;
        height: 120%;
    }

    .article_home {
        margin-bottom: 8rem;
    }

    .information_case {
        justify-content: flex-start;
    }

    .banner_background_formation {
        background-position: center;
    }
}

/* ------------------- PHONE ------------------- */
@media (max-width: 650px) {
    .home {
        margin-top: 20vmax;
        margin-bottom: 40vmax;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home h1,
    .home p {
        text-align: center;
    }

    .w50-60-100 {
        width: 100%;
    }


    /*margins*/
    .margin {
        width: 85vw;
    }

    /*Projets cases -----------------------------------------------------------------------*/
    .wrapper {
        width: 80vw;

        grid-template-columns: repeat(1, 1fr);
    }

    .case {
        height: 35vh;
        filter: none;
    }

    /*FIN Projets cases -----------------------------------------------------------------------*/


    /*Services (Pedagogie + jeu mobile) cases -----------------------------------------------------------------*/
    .half_desktop {
        width: 90%;
    }

    .service_image {
        width: 100%;
        height: 15rem;

        position: relative;
        border-radius: 0;
    }

    .service_text {
        padding: 3rem 0;
    }

    .service_case {
        margin-top: 2rem;
        padding: 0;
        border-radius: 0;

        flex-direction: column-reverse;
    }

    .service_case_02 {
        flex-direction: column;
    }

    /*FIN Services (Pedagogie + jeu mobile) cases -----------------------------------------------------------------*/

    /*SFORMATION -----------------------------------------------------------------*/
    .formation_image {
        width: 100%;
        height: 15rem;
    }

    .formation_text {
        padding: 3rem 0;
    }

    .formation_case {
        margin-top: 2rem;
        padding: 0;
        border-radius: 0;

        flex-direction: column-reverse;
    }

    .formation_case_02 {
        flex-direction: column;
    }

    /*FORMATION -----------------------------------------------------------------*/

    .phone_column {
        flex-direction: column;
    }

    .line {
        margin: 5rem 0;
    }

    .banner_background_africa {
        background-position: 18vw 19rem;
        background-size: 25rem;
        width: 120%;
        height: 120%;
    }

    .article_home {
        margin-bottom: 10rem;
    }

    .banner_background_formation {
        display: none;
        visibility: hidden;
    }

    .w70-70-100 {
        width: 100%;
    }

    .information_section {
        flex-direction: column;
    }

    .information_case {
        width: 100%;
        height: calc(100vw);
    }

    .citation {
        width: 80%;
    }

    .character {
        width: 8rem;
        height: 12rem;
    }

    .mike_background,
    .adrien_background,
    .isaac_background,
    .steeve_background {
        background-image: none;
    }
}