html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::selection {
    background: #BE0426;
    color: #F2F2F2;
}

html,
body {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-index {
    height: 100vh;
}

.body-coupetouille {
    background-image: url("./Assets/Projets/CoupeTouille/CoupeEtTouilleBackgroundLight.png");
    background-size: contain;
}

.plan-one {
    z-index: 1;
}

.plan-two {
    z-index: 100;
}

.plan-three {
    z-index: 10000;
}

.margin {
    width: 70vw;
}

header {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
    position: absolute;
    top: 0;
}

header .reversecolumn {
    justify-content: center;
}

#Logo,
.logo {
    width: 7rem;
}

.menu-burger {
    display: block;
    height: 0.2rem;
    width: 100%;
    background-color: #17222B;
    transform-origin: center;
}

.menu-burger-white {
    display: block;
    height: 0.2rem;
    width: 100%;
    background-color: #EDE1D6;
    transform-origin: center;
}

.btn {
    display: flex;
    justify-content: center;

    width: 6rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;

    border-radius: 5rem;
    border-width: 0.2rem;
    border-style: solid;

    align-items: center;
}

.btn-base {
    border-color: #F2F2F2;
    background-color: rgba(0, 0, 0, 0);
    color: #F2F2F2;
}

.btn-base-fill {
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    color: #000000;
}

.btn-fill {
    color: #000000;
    background-color: #F2F2F2;
    border-color: #000000;
}

.btn-little {
    width: auto;
    margin: 0;
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
}

#CmdMenu {
    padding: 0.5rem;
    width: auto;
    height: 0.8rem;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.btn-base:hover {
    color: #000000;
    background-color: #F2F2F2;
    cursor: pointer;
}

.btn-fill:hover {
    color: #F2F2F2;
    background-color: #000000;
    border-color: #F2F2F2;
}

.icon {
    width: 1.4rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
}

.reversecolumn {
    display: flex;
    flex-direction: column-reverse;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.case {
    background-color: #F8F8F0;
    padding: 2rem;
    justify-content: space-between;
    height: 45vh;
    text-decoration: none;
    /*border: solid #F2F2F2 2rem;*/

    -webkit-box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
    -moz-box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
    box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
}

.card-shadow {
    -webkit-box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
    -moz-box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
    box-shadow: -1px 9px 18px 0px rgba(79, 56, 29, 0.5);
}

.case:hover {
    filter: none;
}

.case>div {
    display: flex;
    justify-content: space-between;
    color: #17222B;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.tag {
    background: #BE0426;
    color: #F2F2F2;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5rem;
}

li,
ul {
    list-style: none;
}

.case-one {
    background-image: url("./Assets/Projets/CoupeTouille/CoupeTouilleMiniature.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.case-two {
    background-image: url("./Assets/Projets/Saiko/Icon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

.case-three {
    background-image: url("./Assets/Projets/Website/Website.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.case-four {
    background-image: url("./Assets/Projets/Website/Website.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.case-five {
    background-image: url("./Assets/Projets/Kaiso_Studio/Vignette.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.case-six {
    background-image: url("./Assets/Projets/Website/Website.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.border-image {
    border-radius: 0rem;
    border: #F2F2F2 0.5rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.reversewrap {
    display: flex;
    flex-wrap: wrap-reverse;
}

canvas {
    height: 50vh;
    width: 100%;
}

#Menu {
    flex-direction: column;
    align-items: center;
    display: none;
}

.side {
    margin-top: 1rem;
}

.space-onerem {
    height: 1rem;
    width: 1rem;
}

.space-tworem {
    height: 2rem;
    width: 2rem;
}

.space-threerem {
    height: 3rem;
    width: 3rem;
}

.space-fiverem {
    height: 5rem;
    width: 5rem;
}

.top-page {
    margin-top: 8rem;
}

.top-page-index {
    margin-top: 12rem;
}

.Tetes_Creux_Gameplay {
    height: 50vh;
}

.img-actions {
    width: 70%;
    object-fit: contain;
}

.footer-index {
    position: absolute;
    bottom: 0;
}

.zoom{
    z-index: 999;
}

.phase-text{
    min-height: 16rem;
    width: 70%;
    display: none;
}

/* ------------------- MOBILE FIRST ------------------- */
.width-all-only-phone {
    width: 100%;
}

.phone-center{
    justify-content: center;
}

.wrap-only-phone {
    display: flex;
    flex-wrap: wrap;
}

.reversewrap-only-phone {
    display: flex;
    flex-wrap: wrap-reverse;
}

.display-only-desktop {
    display: none;
}

.display-only-tablet {
    display: none;
}

.display-only-desktop-tablet {
    display: none;
}

.large-on-phone {
    width: 50%;
}

.wrapper {
    display: grid;
    width: 90vw;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem 2rem;
}

.background-project {
    height: 60vh;
    width: 100vw;
    object-fit: cover;
}

.double-image {
    width: 50%;
}

.only-phone-reversecolumn {
    display: flex;
    flex-direction: column-reverse;
}

.only-phone-column {
    display: flex;
    flex-direction: column;
}

.profile-photo {
    width: 4rem;
    height: 4rem;
}

.btn-phone {
    width: 10rem;
}

.width-half-photo-me {
    width: 100%;
}

.padding-responsive{
    padding: 3rem 1.5rem;
}

/* ------------------- TABLET - DESKTOP ------------------- */
@media (min-width: 650px) {
    .modal-content {
        width: 75%;
    }

    #Menu {
        flex-direction: row;
    }

    .btn {
        display: flex;
        align-items: center;
        width: auto;
        padding: 0.7rem 1.6rem 0.7rem 1.6rem;
    }

    .btn-little {
        padding: 0.4rem 1.5rem 0.4rem 1.5rem;
    }

    #CmdMenu {
        display: none;
    }

    .side {
        margin-top: 0;
        margin-left: 2rem;
    }

    .width-half {
        width: 50%;
    }

    .width-half-photo-me {
        width: 50%;
    }

    .width-sixty {
        width: 60%;
    }

    .width-forty {
        width: 40%;
    }

    .width-twenty-six {
        width: 26%;
    }

    .width-twenty {
        width: 20%;
    }

    .width-twenty-four {
        width: 24%;
    }

    .width-thirty-six {
        width: 36%;
    }

    .width-forty-five {
        width: 45%;
    }

    .width-seventy {
        width: 70%;
    }

    .width-thirty {
        width: 30%;
    }

    .width-thirty-three {
        width: 33%;
    }

    .width-thirty-four {
        width: 34%;
    }

    .display-only-phone {
        display: none;
    }

    .display-only-desktop-tablet {
        display: flex;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    #Menu {
        display: flex;
    }

    .double-image {
        width: 30%;
    }

    .only-phone-reversecolumn {
        display: flex;
        flex-direction: row;
    }

    .only-phone-column {
        display: flex;
        flex-direction: row;
    }

    .Tetes_Creux_Gameplay {
        height: 80vh;
    }

    .width-all-only-phone {}


    .btn-phone {
        width: 15rem;
    }

    .icon {
        width: 1.7rem;
    }

    .phone-center{
        justify-content: space-between;
    }

}

/* ------------------- TABLET ------------------- */
@media (min-width: 650px) and (max-width: 1024px) {
    .top-page {
        margin-top: 10rem;
    }

    .top-page-index {
        margin-top: 12rem;
    }

    #Logo,
    .logo {
        width: 10rem;
    }

    .margin {
        width: 80vw;
    }

    .case {
        height: 30vh;
        filter: grayscale(90%);
    }

    .background-project {
        height: 70vh;
        width: 100vw;
    }

    .display-only-tablet {
        display: flex;
    }

    footer {
        margin-top: 2rem;
    }

    .large-on-phone {
        width: 40%;
    }

    .padding-responsive{
        padding: 5rem 3rem;
    }

    .tablet-center{
        justify-content: center;
    }
}


/* ------------------- DESKTOP ------------------- */
@media (min-width: 1024px) {
    .top-page {
        margin-top: 12rem;
    }

    .top-page-index {
        margin-top: 12rem;
    }

    #Logo,
    .logo {
        width: 10rem;
    }

    .case {
        height: 60vh;
        filter: sepia(100%) hue-rotate(190deg) saturate(50%);
    }

    .wrapper {
        width: 80vw;
    }

    .background-project {
        height: auto;
        width: 100vw;
        object-fit: contain;
    }

    .wrap-only-phone {
        flex-wrap: nowrap;
    }

    .reversewrap-only-phone {
        flex-wrap: nowrap;
    }

    .display-only-desktop {
        display: flex;
    }

    .display-only-tablet {
        display: none;
    }

    .plank {
        width: 8rem;
        top: -2rem;
    }

    .large-on-phone {
        width: 30%;
    }

    .padding-responsive{
        padding: 8rem 5rem;
    }

    .only-desktop-width-forty-five {
        width: 45%;
    }
}