/* MOBILE FIRST */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
    margin: 0;
    padding: 0;
    z-index: 100;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    line-height: 100%;
}

h1,
h2,
h3 {
    font-weight: 900;
    /*text-transform: uppercase;*/
}

p,
li,
ul,
button,
.language {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5{
    font-size: 1.1rem;
}

p {
    font-size: 0.8rem;
}

#copyright{
    font-size: 0.6rem;
}

li,
ul {
    font-size: 0.6rem;
}

#X {
    font-size: 1.3rem;
}

.blue {
    color: #BF6F32;
}

.yellow {
    color: #BF6F32;
}

.red {
    color: #BF6F32;
}

span {
    font-weight: 800;
}

button {
    font-size: 1.2rem;
    font-weight: 700;
}

.btn-little-font {
    font-size: 0.8rem;
}

.language{
    font-size: 1.5rem;
    font-weight: 700;
}

/* TABLET */
@media (min-width: 650px) and (max-width: 1200px) {
    li {
        font-size: 0.7rem;
    }

    .btn-little-font {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    p {
        font-size: 0.8rem;
    }

    #copyright{
        font-size: 0.7rem;
    }
}

/* DESKTOP */
@media (min-width:1023px) {
    li {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    .btn-little-font {
        font-size: 1.2rem;
    }

    button {
        font-size: 1rem;
        font-weight: 700;
    }

    .language{
        font-size: 1rem;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
    }

    #copyright{
        font-size: 0.8rem;
    }
}